.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  margin-top: 80px;
}

.modal {
  background-color: #C2C3C4;
  border-radius: 16px;
  width: 95%;
  max-width: 800px;
  padding: 24px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  flex-direction: column;
  animation: fadeIn 0.3s ease-in-out;
}

.close {
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 40px;
  background: none;
  border: none;
  cursor: pointer;
   color: #8F2929;
}

.header {
  font-size: 28px;
  font-weight: 800;
  color: #8F2929;
  text-align: start;
  margin-bottom: 20px;
  font-family: var(--ff-inter);
  font-style: italic;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.content {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}

.image {
  width: 200px;
  height: 200px;
  border-radius: 12px;
  object-fit: cover;
}

.details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infoBox {
  background-color: #FBF6F6;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.4rem;
  margin-bottom: 16px;
  font-family: var(--ff-inter);
  height: 190px;
}

.infoBox span{
  color: #099322;
}

.infoBox p {
  margin: 4px 0;
}

.rating {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.3rem;
  margin-bottom: 7px;
}

.descricao {
  font-size: 1.7rem;
  color: #3a3a3a;
  margin-bottom: 20px;
  font-family: var(--ff-inter);
}

.addButton {
  background-color: #B3920B;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.addButton:hover {
  background-color: #6e5c10;
}

.total {
  font-size: 16px;
  font-weight: 900;
  color: #0C7830;
  margin-top: 12px;
  font-family: var(--ff-inter);
  text-align: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
