.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    justify-content: space-around;
    align-items: center;
    background-color: #296D8C;
    z-index: 1000;
    
}


.img_logo {
    width: 300px;
    height: auto;

}

.topo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-family: 'Inria Sans', sans-serif;
    font-weight: 700;
}

.icons {
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    justify-content: center;
    float: right;
    margin: 20px;
    margin-top: -40px;
    cursor: pointer;



}

.subtopo {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: #ffff;
    gap: 50px;
    font-size: 18px;
    margin-left: 80px;
    font-family: 'Inria Sans', sans-serif;
    font-weight: 700;
}


.icon_dropdown :global(a) {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  text-decoration: none;
  color: inherit;
}