.page {
   padding-top: 100px;
    background: linear-gradient(to top, #97b8ca, #dfdfdf);
    flex: 1;
}




.main {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
   padding-top: 150px;
   padding-bottom: 100px;
}



.formContainer {
   background: linear-gradient(to right, #BDC3CA, #b4c9dd);
  border-radius: 12px;
  padding: 30px;
  display: flex;
  gap: 40px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  width: 1400px;
  height: 670px;
}

.formSection {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
}

.formSection h2 {
  margin-bottom: 10px;
  color: #900;
  font-family: var(--ff-inter);
  font-size: 3rem;
   text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.formSection label{
  font-family: var(--ff-inter);
 
}

.formSection input{
  background-color: #FFFFFF;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 5px;
  border-radius: 10px;
  outline: none;
  caret-color: var(--cc-vermelho);
  background-color: #fff;
  border-radius: 7px;
   border: 1px solid #8b8b8b;
}



.formSection select {
  outline: none;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid #8b8b8b;
  font-size: 16px;
  color: #5D5757;                 /* cor do texto */
  background-color: #FFFFFF;    /* cor de fundo */
   box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);

  /* Remove a seta padrão */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  
  padding-right: 40px;

  
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='16' viewBox='0 0 24 24' width='16' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
}





.btnPrincipal {

  background-color: var(--cc-amarelo);
  color: #fff;
  width: 340px;
  margin-left: auto;
  margin-right: auto;
}

.btnPrincipal, .btnSecundario {
  margin-top: 33px;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  background-color: var(--cc-amarelo);
  color: #fff;
  will-change: box-shadow,transform;
  background: radial-gradient( 100% 100% at 100% 0%, #EBC351 0%, #B3920B 100% );
  box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
  text-shadow: 0 1px 0 rgb(0 0 0 / 20%);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
}

.btnPrincipal, .btnSecundario button:hover {
  box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #B3920B;
  transform: translateY(-0.1em);
}

.btnPrincipal, .btnSecundario button:active {
  box-shadow: inset 0px 0.1em 0.6em #B3920B;
  transform: translateY(0em);
}




.aviso{
  margin-top: 30px;
  
  display: flex;
  align-items: center;  
  gap: 8px;    
  font-family: var(--ff-inter);
  color: #FFFFFF;
  background-color: var(--cc-amarelo);
  padding: 5px;
  border-radius: 5px;
}