.container {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 1rem;
  margin-top: 250px;
}

.saudacao {
  font-size: 3rem;
  color: #8F2929;
  margin-bottom: 1.5rem;
  display: flex;
  gap: 6px;
  font-family: var(--ff-inter);
}

 .icone {
  margin-left: 8px;
  color: #8F2929;
}

.tituloSecao {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: var(--ff-inter);
}

.pedidosBox {
  margin-bottom: 7rem;
}

.cardPedido {
  background: #f5f5f5;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
 
}

.nomePedido {
  font-size: 2rem;
  font-family: var(--ff-josefin-sans);
  font-weight: 500;
  margin-top: 2rem;
 
}

.totalpedido{
  color: black;
  font-family: var(--ff-josefin-sans);
  font-size: 1.7rem;
  margin-top: 1.5rem;
  font-weight: 500;
  
}

.valorPedido {
  color: green;
  font-weight: bold;
  text-align: center;
   margin-right: 5.8rem;
   font-family: var(--ff-josefin-sans);
   font-weight: 600;
 
}

.cardBody {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  margin-left: 1.5rem;
}

.imagemPedido {
  width: 120px;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
}

.descricao {
  flex: 1;
  color: #555;
  margin-left: 2rem;
   font-family: var(--ff-josefin-sans);
}

.cardFooter {
  margin-top: 0.8rem;
  font-size: 1.6rem;
  color: #1f7a1f;
  font-weight: 500;
}

.cardFooter hr{
             
  border-top: 1px solid #8F2929; 
  margin-top: 1.7rem;
  margin-bottom: 1rem;
}

.status {
  display: inline-block;
  background: #e9f6e9;
  padding: 0.3rem 0.8rem;
  border-radius: 5px;
  font-family: var(--ff-inter);
 
}

.formBox {
  background: #e0e0e0;
  padding: 1.5rem;
  border-radius: 10px;
}

.formGroup {
  margin-bottom: 1rem;
}

.formGroup label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.3rem;
  font-family: var(--ff-inter);
}

.formGroup input,
.formGroup select {
  width: 100%;
  padding: 0.7rem;
  border-radius: 20px;
  font-size: 1.3rem;
  border: 1px solid #535353;
  background-color: #eeeeee;
  outline: none;
  font-family: var(--ff-inter);
  color: #383838;
  font-style: italic;
  letter-spacing: 0.1rem;
}

.botoes {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  margin-top: 3rem;
}

.sair {
  background: #968056;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
   display: flex;
  align-items: center; 
  gap: 8px; 
}

.excluir {
  background: #933A3B;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
    display: flex;
  align-items: center; 
  gap: 8px;
}

.salvar {
  background: #bebebe;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  color: #933A3B;
    display: flex;
  align-items: center; 
  gap: 8px;
}
