/*-----------------------------------*\
  CARDÁPIO
\*-----------------------------------*/

.cardapio {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  width: 100%;
}

.linha {
  flex-grow: 1;
  height: 1px;
  background-color: #000;
  margin-inline: 5%;
}

.cardapio_text{
    margin: 0 15px;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 4.2rem;
    color: #3B7798;
    letter-spacing: 1.5rem;
  }

  .cardapio h1{
    font-family: var(--ff-crimson-text);
    font-style: italic;
    text-shadow: #528aa8 1px 1px 2px;
  }

 .imgs_cardapio{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  


  @media (max-width: 480px) {
    .cardapio_text{
        font-size: 2.5rem;
        letter-spacing: 0.8rem;
      }

      .linha {
        margin-inline: 2%;
      }
      .imgs_cardapio{
       max-width: 100%;
       flex-wrap: none;
      height: auto;
      }
      .cardapio h1{
        font-size: 1.8rem;
      }
  .imgs_cardapio {
    grid-template-columns: repeat(2, 1fr); /* duas colunas */
    max-width: 500px;           /* largura máxima para centralizar */
    margin: 0 auto;             /* centraliza na tela */
  }

  .imgs_cardapio img {
    height: 150px;
    width: 200px;
  }
  }