/*-----------------------------------*\
  CARDÁPIO
\*-----------------------------------*/

.cardapio {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  width: 100%;
}

.card_item {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.img_wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  padding-bottom: 10px;
}

.img_wrapper:hover .overlay {
  opacity: 1;
}

.overlay_text {
  color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  font-family: var(--ff-josefin-sans);
  margin-bottom: 30px;
  letter-spacing: 0.1rem;
}


.linha {
  flex-grow: 1;
  height: 1px;
  background-color: #000;
  margin-inline: 5%;
}

.cardapio_text{
    margin: 0 15px;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 4.2rem;
    color: #3B7798;
    letter-spacing: 1.5rem;
  }

  .cardapio h1{
    font-family: var(--ff-crimson-text);
    font-style: italic;
    text-shadow: #528aa8 1px 1px 2px;
  }

 .imgs_cardapio{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  

  .img_cardapio {
  transition: transform 0.3s ease-in-out;
  display: block;
  width: 100%;
  height: auto;
}

.img_wrapper:hover .img_cardapio {
  transform: scale(1.05);
}


  @media (max-width: 480px) {
    .cardapio_text{
        font-size: 2.5rem;
        letter-spacing: 0.8rem;
      }

      .linha {
        margin-inline: 2%;
      }
      .imgs_cardapio{
       max-width: 100%;
       flex-wrap: none;
      height: auto;
      }
      .cardapio h1{
        font-size: 1.8rem;
      }
  .imgs_cardapio {
    grid-template-columns: repeat(2, 1fr); /* duas colunas */
    max-width: 500px;           /* largura máxima para centralizar */
    margin: 0 auto;             /* centraliza na tela */
  }

  .imgs_cardapio img {
    height: 150px;
    width: 200px;
  }
  }